body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}

.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
/**{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}*/
body{
	width: 100%;
	height: 100vh;
	background-color: blue;
	background-color: #000000;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.2'%3E%3Cpolygon fill='%23222222' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%23444444' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%23666666' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%23888888' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%23aaaaaa' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%23cccccc' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%23EEE' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
}

header{
	width: 100%;
	height: 600px;
	backface-visibility: hidden;
	/*background-color: black;*/
	/*opacity: 0.5;*/
}

img{
	-webkit-filter: grayscale(100%);
	-o-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

img:hover {
	-webkit-filter: grayscale(100%);
	-o-filter: grayscale(100%);
  filter: grayscale(0%);
}
 
#myname{
	position: absolute;
	top: 50%;
	left: 54%;
	transform: translate(-50%, -50%);
	animation: fillin-name 0.5s ease forwards 3s;
}

#mycareer{
	position: absolute;
	top: 65%;
	left: 54%;
	transform: translate(-50%, -50%);
	animation: moveInLeft 2s ease-out;

}
.cps1, .cps2, .cps3 {
	font-size: 20px;
	text-align: center;
	padding: 20px;
}

.cps1:hover{
	color: gold;
	font-size: 21px;
}

.cps2:hover{
	color: gold;
	font-size: 21px;
}
.cps3:hover{
	color: gold;
	font-size: 21px;
}

.cps1:hover + .cps1-desc{
	max-height: 500px;
    transition: max-height 0.9s ease-in;
    animation: flyLeft 1.5s ease-out; 
}
.cps1-desc{
	max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
}

.cps2:hover + .cps2-desc{
	max-height: 500px;
    transition: max-height 0.9s ease-in;
    animation: flyLeft 1.5s ease-out;
}
.cps2-desc{
	max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
}
.cps3:hover + .cps3-desc{
	max-height: 500px;
    transition: max-height 0.9s ease-in;
    animation: flyLeft 1.5s ease-out;
}
.cps3-desc{
	max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
}

#myname path:nth-child(1){
	
}

/* J */
#myname path:nth-child(2){
	stroke-dasharray: 334.1293029785156px;
	stroke-dashoffset: 334.1293029785156px;
	animation: line-animate 2s ease forwards;
	animation: fillin-name 1.0s ease forwards 2.5s;	
}

/* O */
#myname path:nth-child(3){
	stroke-dasharray: 527.4258422851562px;
	stroke-dashoffset: 527.4258422851562px;
	animation: line-animate 2s ease forwards 0.2s;
}
/* E */
#myname path:nth-child(4){
	stroke-dasharray: 525.2340087890625px;
	stroke-dashoffset: 525.2340087890625px;	
	animation: line-animate 2s ease forwards 0.2s;
}
/* C */
#myname path:nth-child(5){
	stroke-dasharray: 480.2796936035156px;
	stroke-dashoffset: 480.2796936035156px;
	animation: line-animate 2s ease forwards 0.2s;
	animation: fillin-name 1s ease forwards 2.5s;		
}

/* R */
#myname path:nth-child(6){
	stroke-dasharray: 563.734130859375px;
	stroke-dashoffset: 563.734130859375px;
	animation: line-animate 2s ease forwards 0.2s;	
}

/* I */
#myname path:nth-child(7){
	stroke-dasharray: 231.75px;
	stroke-dashoffset: 231.75px;
	animation: line-animate 2s ease forwards 0.2s;
}

/* S */
#myname path:nth-child(8){
	stroke-dasharray: 533.3997192382812px;
	stroke-dashoffset: 533.3997192382812px;
	animation: line-animate 2s ease forwards 0.2s;
}
/* V */
#myname path:nth-child(9){
	stroke-dasharray: 438.456298828125px;
	stroke-dashoffset: 438.456298828125px;
	animation: line-animate 2s ease forwards 1.4s;
	animation: fillin-name 1s ease forwards 2.5s;
}

/* I */
#myname path:nth-child(10){
	stroke-dasharray: 231.75px;
	stroke-dashoffset: 231.75px;
	animation: line-animate 2s ease forwards 0.2s;
}

/* A */
#myname path:nth-child(11){
	stroke-dasharray: 495.2242126464844px;
	stroke-dashoffset: 495.2242126464844px;
	animation: line-animate 2s ease forwards 0.2s;
}

/* R */
#myname path:nth-child(12){
	stroke-dasharray: 563.734619140625px;
	stroke-dashoffset: 563.734619140625px;
	animation: line-animate 2s ease forwards 0.2s;
}	

@keyframes line-animate{
	to{
		stroke-dashoffset: 0;
	}
}

@keyframes fillin-name{
	from{
		fill: transparent;
	}
	to{
		fill: white;
	}
}

@keyframes moveInLeft{
	0% {
		opacity: 0;
		transform: translateX(-800px);
	}

	80%{
		transform: translate(-10px, -10px);
	}

	100%{
		opacity: 1;
		transform: translate(-50%, -50%);
	}
}

@keyframes flyLeft{
	0% {
		opacity: 0;
		transform: translateX(-100px);
	}

	80%{
		transform: translate(0px, 0px);
	}

	100%{
		opacity: 1;
		transform: translate(0, 0%);
	}
}